
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<th:block th:fragment="link">
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" >
	</th:block>
</head>
<body>
	
<!--<th:block th:replace="content"> 여기에 퀘스쳔리스트 내용이 들어가면 됨 </th:block>-->

	<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark " 
	style="background-color: rgb(35, 35, 35); margin-bottom: 10px; margin-top: 10px;">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">게시판</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	      <div class="navbar-nav">
	        <a class="nav-link active" aria-current="page" href="#">로그인</a>
	        <a class="nav-link" href="#">Features</a>
	        <a class="nav-link" href="#">Pricing</a>
	        <a class="nav-link disabled">Disabled</a>
	      </div>
	    </div>
	  </div>
	</nav>




</body>
</html>

