<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link th:replace="layout :: link" />
	<script th:replace="layout :: script" />
</head>

<body>
	<div class="container">
		<!--네비게이션 바-->
		<nav th:replace="layout :: nav"  />
		
		<form th:action="@{/member/signin}"   method="post">
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Email address</label>
				<input type="email" class="form-control" name = "email">								
			</div>	
			<div class="mb-3">
				<label  class="form-label">패스워드</label>
				<input type="password" class="form-control" name = 'password'>				
			</div>	
			<button type="submit" class="btn btn-dark">로그인</button>
			<button type="submit" class="btn btn-secondary">취소</button>
		</form>
		
		
		
	</div>
</body>

</html>